<html lang="sv">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{{title}}</title>
    <link rel="stylesheet" href="/css/style.css" />
  </head>
  <body>
    <header>
      <h1>Min Webbplats</h1>
      <nav>
       {{#each menuItems}}
       <a href="{{this.link}}" {{#if this.active}}class="active"{{/if}}>
       {{this.label}}
       </a>
       {{/each}}
      </nav>
    </header>

    {{{body}}}
<footer>
    {{#each footerItems}}
        <a href="{{this.link}}" class="footer-link{{#if this.active}} active{{/if}}">
            {{this.label}}
        </a>
    {{/each}}
</footer>
  </body>
</html>